{% extends 'base.html.twig' %}

{% block title %}
	{{controller_name}}
{% endblock %}

{% block body %}
<div>
	<a href="{{path('app_edit_listcsv')}}">Back</a>
</div>
<div>
	<h2>File : {{ infos.filename }} </h2>
	<div>Date : {{ infos.importedAt | date('d/m/Y') }} </div>
	<div>Imported by : {{ infos.importedBy.username }} </div>
</div>
<table class="m-4">
	<tr>
		<th class="border-2 border-gray-300 p-2">Table</th>
		<th class="border-2 border-gray-300 p-2">Position</th>
		<th class="border-2 border-gray-300 p-2">Player</th>
		<th class="border-2 border-gray-300 p-2">Score</th>
	</tr>
{% for line in data %}
{% if line[0] is empty  %}
	<tr>
		<td class="h-2 bg-gray-200 border-2 border-gray-300"></td>
		<td class="h-2 bg-gray-200 border-2 border-gray-300"></td>
		<td class="h-2 bg-gray-200 border-2 border-gray-300"></td>
		<td class="h-2 bg-gray-200 border-2 border-gray-300"></td>
	</tr>
{% else %}
	<tr>
		<td class="border-2 border-gray-300 p-2"> {{line[0]}} </td>
		<td class="border-2 border-gray-300 p-2"> {{line[1]}} </td>
		<td class="border-2 border-gray-300 p-2"> {{line[2]}} </td>
		<td class="border-2 border-gray-300 p-2"> {{line[3]}} </td>
	</tr>
{% endif %}
{% endfor %}
</table>
{% endblock %}

